# macOS
.DS_Store
.AppleDouble
.LSOverride
*.swp
*~

# IDEs
.vscode/settings.json
.idea/

# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Build artifacts
dist/
build/
*.egg-info/

# history
.dotfiles.history